#pageTitle{
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to right, indigo, purple, rgb(218, 116, 218));
    color: transparent;
    background-clip: text;
    text-decoration:underline rgb(91, 3, 113);
    border-radius: 10px;
    font-family:cursive;

    /* background: linear-gradient(to right, rgb(255, 208, 0), rgb(255, 191, 0),  rgb(254, 156, 0),  rgb(211, 109, 0));
    text-decoration:underline rgb(115, 60, 0); */
}
h4{
    color: rgb(151, 4, 146);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btnModal{
    font-weight: 600;
    color: rgb(91, 3, 113);
    border-color: rgb(91, 3, 113);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btnModal:hover{
    background-color:  rgb(91, 3, 113);
    color: aliceblue;
}

.crdbdy{
    background-color:rgba(178, 169, 202, 0.76);
}

.btninput{
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-weight: 600;
    color: black;
    border-color: rgba(240, 247, 255, 0.685);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 12px;
    transition-duration: 0.4s;
    height: 40px;
}
#btn1{
    background-color: rgb(127, 201, 53);
}
#btn1:hover{
    color: rgb(64, 109, 19);
    background-color: rgb(224, 224, 224);
    font-size: 18px;
}

#btn2{
    background-color: rgb(247, 222, 84);
}
#btn2:hover{
    color: rgb(180, 147, 0);
    background-color: rgb(224, 224, 224);
    font-size: 18px;
}

#btn3{
    background-color: rgb(223, 63, 95);   
}
#btn3:hover{
    color:  rgb(214, 25, 63);
    background-color:rgb(224, 224, 224);
    font-size: 18px;
}

.tablet{
    border-style: groove;
    border-color: rgb(129, 36, 215);
    width: 100%;
    background-image: linear-gradient(to right,rgba(66, 33, 156, 0.78),indigo,rgba(218, 116, 218, 0.8));
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border-color: rgb(67, 45, 21);
    background-image: linear-gradient(to right,rgb(255, 179, 0), rgb(254, 199, 34),  rgb(255, 177, 52),  rgb(245, 147, 43));
 */}

#tablehead{
    /* color:rgb(94, 3, 3); */
    color: aliceblue;
    text-align: center;
}
#tBodyCustomer{
    background-color: rgba(178, 169, 202, 0.76);
}

#tdbtn{
    text-align: center;
}
.button{
    border-radius: 5px;
    background-color: rgba(203, 199, 212, 0.76);
    font-weight: bold;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 60px;
}
.button:hover{
    background-color: whitesmoke;
    color: rgb(59, 0, 114);
}
.icon{
    font-size: 18px;
}