img{
    /* background-image: url(../Resourse/images/rest1.webp);     */
    background-repeat:no-repeat;
    background-size:cover;
    position: fixed;
}

.wrapper{
    display: flex;
}
.navbar{
    background-color: #ffffff;
    width:auto;
    opacity: 92%;
}
.navbar-brand img{
    width: 90px;
    position: relative;
    cursor: pointer;
    /* border-left: 3px solid #9d6733;
    border-left-width:medium; */
}
.main{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

#sidebar{
    width: 80px;
    margin-top: 87px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction:column;
    background-color:#935027;
    /* background-color:#303535; */
    border-radius: 15px;
}

#sidebar.expand{
    /* width: 270px; */
    min-width: 200px;
}

#menu:hover{
    color: #292c2d;
}

#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem;
    /* margin-left: 12px; */
    margin-right: 12px;
}

#toggle-btn i{
font-size: 1.5rem;
color: #303535;
}

#btnuser{
    background-color: transparent;
    cursor: pointer;
    border-color: #303535;
    font-size: 1rem;
    color: #303535;
}

/* dropdown menu eka button eke size ektma open kregnna*/
.navbar .dropdown-menu.show {
    min-width: 100%;
}

.sidebar-menu{
    margin: auto 0;
}

.sidebar-menu a{
    color: #292c2d;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
}

#sidebar:not(.expand) .sidebar-menu,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .95rem 1.625rem;
    color: #ffffff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-link i{
    font-size:  1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color:#f7d7a5;
    color: #292c2d;
    border-radius: 10px;
}

.sidebar-item{
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #9d6733;
    padding: 0;
    display: none;
    min-width: 15rem;
}

#sidebar:not(.expand) .sidebar-item:hover .hasdropdown+.sidebar-dropdown{
    display: block;
    max-height: 15rem;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
transform: rotate(45deg);
transition: all .2s ease-out;
}


/* ------- DASHBOARD VIEW MODULES CSS START ------- */

#dashboardItems{
    margin-top: 90px;
}

.viewDashboard{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color:#424242;
    color:#ffffff; */
    background:linear-gradient(to right,#fceab1,#fde8a3, #fae396,#f9c589);
    color:#6f2f14;
    border-color: #6f2f14;
    height: 120px;
    opacity: 90%;
}
.viewDashboard:hover{
    /* background:linear-gradient(to right,#424242); */
    background:linear-gradient(to right,#fceab1,#fde8a3, #fae396,#f9c589);
    color:#6f2f14;
    opacity: 100%;
}